/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;

  /*Author body styles start here*/


}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  width: 100%;
}



/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*HEADER*/

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #8AC8D0;
  padding: 0 20px 0 20px;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 10px solid #FE7a71;
}

.logo-only {
  width: 25%;
  padding: 10px 0;
}

.top-phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  padding: 10px 0 0 0;

}

.top-phone i {
  font-size: 1.6em;
  color: #FE7A71;
  padding: 0 10px
}

.header-phone {
  font-size: 1.6em;
  color: #F6F7F1;
}


/*MAIN*/

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-family: 'Cabin Reg', sans-serif;
}


/*HERO SECTION*/

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  background-color: #F6F7F1;
  text-align: left;
}

.hero-image {
  height: 100%;
  margin: 0 auto;
}

.elder-care {
  width: 100%;
}

.mission {
  padding: 0 20px 0 20px;
}

.mission h1 {
  font-size: 2.05em;
  padding: 30px 20px 0 20px;
  color: #FE7A71;
  margin: 0 auto;
}

.mission h1 span {
  font-size: .75em;
  color: #FE7A71;
}

.mission p {
  padding: 20px 15px;
  color: #2C666E;
  margin: 0;
}

.hero-call {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0;
}

.hero-phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 20px;
  margin: 16px 0 0 0;
}

.hero-phone i {
  color: #FE7A71;
  font-size: 2em;
}

.hero-phone h2 {
  font-size: 2em;
  padding: 0 0 0 15px;
  color: #2C666E;
  margin: 0 auto;
}

.hero-call p {
  padding: 0 20px 30px 20px;
  color: #2C666E;
  margin: 0;
  font-size: .9em;
}


/*SERVICES*/

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 30px 30px 50px 30px;
  background-color: #2C666E;
  color: #F6F7F1;
  text-align: center;
  border-top: 3px solid #8AC8D0;
}

.services h1 {
  text-align: center;
  font-size: 2em;
}

.service-type i {
  font-size: 3.25em;
  padding: 30px 0 10px 0;
}

.service-type p {
  color: #F6F7F1;
  padding: 0 45px;
  text-align: justify;
  font-size: 1em;
}

/*PHONE NUMBER*/

.phone-number {
  color: #FE7a71;
  background-color: #F6F7F1;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #8AC8D0;
  border-bottom: 3px solid #FE7a71;
}

.phone-number i {
  color: #2C666E;
  font-size: 2.25em;
}

.phone-number h1 {
  font-size: 2.25em;
  padding: 0 0 0 15px;
}

/*ABOUT & CONTACT*/

.about-contact {
  background-color: #8AC8D0;
  color: #F6F7F1;
  display: flex;
  flex-direction: column;
  padding: 0 25px 20px 25px;
}

.about-contact h2 {
  color: #2C666E;
  font-size: 2em;
  padding: 40px 0 10px 0;
  margin: 0;
}

.about {
  padding: 0 10px 10px 10px;
}

.about p {
  color: #F6F7F1;
  font-size: 1.25em;
  padding: 0 30px 0 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  margin: 0;
  padding: 20px 0;
}

.form input, textarea {
  padding: 15px;
}

.form input[type="text"] {
  font-family: 'Cabin Reg', sans-serif;
  color: #977272;
  margin-bottom: 15px;
  border-radius: 20px;
}

.form input[type="email"] {
  font-family: 'Cabin Reg', sans-serif;
  color: #977272;
  margin-bottom: 15px;
  border-radius: 20px;
}

.form textarea {
  font-family: 'Cabin Reg', sans-serif;
  color: #977272;
  margin-bottom: 25px;
  border-radius: 20px;
  height: 6em;
}
.form input[type="submit"] {
  font-family: 'Roboto Condensed', sans-serif;
  color: #F6F7F1;
  background-color: #FE7a71;
  width: 50%;
  border-radius: 20px;
  font-size: 1.15em;
}

/*FOOTER*/

footer {
  background-color: #2C666E;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  padding: 40px 0 0 0;
  border-top: 3px solid #F6F7F1;
}

footer h1 {
  font-size: 2em;
  color: #F6F7F1;
  margin: 0;
  padding: 0 0 0 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.special-skills ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;
}

.special-skills ul li i { 
  color: #8AC8D0;
  font-size: 2em;
}

.special-skills ul li p { 
  color: #F6F7F1;
  font-size: 1.2em;
  padding: 0 0 20px 15px;
  margin: 0;
  font-family: 'Cabin Reg', sans-serif;
}

.languages {
  padding: 0 0 30px 0;
}

.languages ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  color: #F6F7F1;
  font-size: 1.25em;
  margin: 0;
  font-family: 'Cabin Reg', sans-serif;
  padding: 0 0 0 50px;
}

.languages ul li {
  padding: 20px 30px 0 0;
}

#map {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 50px 0;

}

#map h1 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0 0 15px 0;
  color: #F6F7F1;
  font-size: 2em;
  text-align: center;
}

#map iframe {
  border-radius: 5%;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F7F1;
  color: #2C666E;
  padding: 0 15px;
  font-family: 'Cabin Reg', sans-serif;
  border-top: 3px solid #8AC8D0;
}

.rights {
  display: flex;
  flex-direction: column;
  font-size: .85em;
  padding: 15px 0 0 0;
}

.rights p {
  padding: 5px 0 0 0;
  margin: 0;
}

.socials i {
  font-size: 3em;
  padding: 10px 6px 15px 6px;
  color: #2C666E;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/*TABLET STYLES*/
@media (min-width: 786px) {
  
  /*HEADER*/

  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
  }

  .logo-only {
    width: 15%;
    padding: 8px 0;
  }

  .top-phone i {
    font-size: 2.25em;
    color: #FE7A71;
    padding: 0 10px
  }
  
  .header-phone {
    font-size: 2.25em;
    color: #F6F7F1;
    margin: 0;
    padding: 25px 0 0 0;
  }

  /*MAIN*/

  /*HERO SECTION*/

  .hero-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
  }

  .hero-image {
    height: 100%;
    margin-left: auto;
    margin-top: auto;
  }

  .mission h1 {
    font-size: 2.25em;
    padding: 15px 15px 0 15px;
    line-height: 35px;
  }

  .mission p {
    padding: 10px 15px 10px 15px;
  }

  .hero-phone i {
    color: #FE7A71;
    font-size: 2.25em;
  }
  
  .hero-call {
    padding: 0 0 20px 0;
  }

  .hero-phone h2 {
    font-size: 2.25em;
    padding: 0 0 0 15px;
    color: #2C666E;
  }
  
  .hero-call p {
    padding: 8px 20px;
    font-size: 1.2em;
    margin: 0;
  }

  /*SERVICES*/

  .service-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .services h1 {
    font-size: 2.5em;
  }

  .service-type i {
    font-size: 3.5em;
    padding: 30px 0 10px 0;
  }

  .service-type p {
    padding: 30px 30px;
    font-size: 1.15em;
  }

  .service-type .meds {
    max-width: 33%;
  }

  .service-type .household {
    max-width: 33%;
  }

  .service-type .companion {
    max-width: 33%;
  }

  /*PHONE NUMBER*/

  .phone-number i {
    color: #2C666E;
    font-size: 3em;
  }
  
  .phone-number h1 {
    font-size: 3em;
    padding: 0 0 0 15px;
  }

  /*ABOUT & CONTACT*/

  .about-contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .about-contact h2 {
    font-size: 2.25em;
  }

  .about {
    width: 100%;
    padding: 0 60px 0 10px;
  }

  .about p {
    padding: 0 20px 0 0;
    font-size: 1.25em;
  }

  .about-contact .about {
    max-width: 50%;

  }

  .about-contact .contact-form {
    max-width: 50%;
  }

  .contact-form {
    width: 100%;
    padding: 0 15px 25px 20px;
  }

  .contact-form h2 {
    padding: 40px 0 40px 10px;
  }

  .form input[type="submit"] {
    font-size: 1.3em;
  }

  /*FOOTER*/

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 25px 0 15px;
  }

  footer h1 {
    font-size: 1.65em
  }

  .languages {
    padding: 0 0 0 15px;
  }

  .languages ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
  }

  .footer-top .special-skills {
    max-width: 30%;
  }

  .footer-top .languages {
    max-width: 30%;
  }

  .footer-top #map {
    max-width: 40%;
  }

  #map h1 {
    padding: 0 0 15px 0;
    font-size: 1.65em;
  }



/*DESKTOP STYLES*/
@media (min-width: 1200px) {

  /*HEADER*/

  #header {
    padding: 0 20px 0 20px;
  }

  .logo-only {
    width: 13%;
    padding: 8px 0;
  }

  .top-phone i {
    font-size: 2.6em;
  }
  
  .header-phone {
    font-size: 2.6em;
  }

  /*MAIN*/


  /*HERO SECTION*/

  .mission h1 {
    font-size: 4em;
    padding: 40px 15px 0 15px;
    line-height: 60px;
  }

  .mission p {
    padding: 25px 15px 25px 30px;
  }

  .hero-phone i {
    font-size: 2.5em;
  }
  
  .hero-phone h2 {
    font-size: 2.5em;
  }
  
  .hero-call p {
    font-size: 1.25em;
    padding: 8px 20px;
  }

  /*SERVICES*/

  .service-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .services h1 {
    font-size: 4em;
  }

  .service-type i {
    font-size: 4em;
    padding: 30px 0 10px 0;
  }

  .service-type p {
    padding: 30px;
    font-size: 1.25em;
  }

  .service-type .meds {
    max-width: 33%;
  }

  .service-type .household {
    max-width: 33%;
  }

  .service-type .companion {
    max-width: 33%;
  }

  /*PHONE NUMBER*/

  .phone-number i {
    color: #2C666E;
    font-size: 3.5em;
  }
  
  .phone-number h1 {
    font-size: 3.5em;
    padding: 0 0 0 15px;
  }

  /*ABOUT & CONTACT*/


  .form input[type="submit"] {
    font-size: 1.75em;
  }

  /*FOOTER*/

  .footer-top {
    padding: 0 50px 0 50px;
  }

  footer h1 {
    font-size: 2.25em
  }
  #map h1 {
    font-size: 2.25em;
  }
}

/*@media only screen and (min-width: 35em) {
  Style adjustments for viewports that meet the condition
}/*

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

